# ignore dependencies
node_modules/
.angular

# ignore all logs
logs
*.log

.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
__pycache__